* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
a {
  text-decoration: none;
}
.name_ship {
  margin: 50px 50px 0px 50px;
}
.main_h1 {
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
}
.stars p {
  font-size: 12px;
}
.stars {
  padding-top: 8px;
}
.main_block {
  margin: 50px;
  display: flex;
}
.photo_block img {
  max-height: 498px;
  height: auto;
}
.right_block {
  /* display: flex; */
  justify-content: flex-end;
}
.ram_block {
  font-size: 14px;
}
.btns {
  display: flex;
  padding-top: 10px;
}
.btns button {
  width: 75px;
  height: 30px;
  background-color: white;
  border: 1px solid #e3e2e7;
}
.color {
  padding-right: 10px;
  font-size: 14px;
}
.color_btn {
  padding-top: 20px;
}
.color_btn p {
  font-size: 14px;
}
.colors {
  display: flex;
  padding-top: 10px;
}

.color_block {
  display: flex;
  align-items: center;
}
.color_block a {
  width: 34px;
  height: 34px;
  clip-path: circle(50% at center center);
  background: rgb(37, 37, 37);
}
.name{
  padding-left: 7px;
}

.price_block {
  display: flex;
  align-items: center;
  padding-top: 50px;
}
.price_right {
  font-size: 14px;
  margin-left: 100px;
}
.price_right p {
  padding-bottom: 10px;
}
.price {
  font-size: 26px;
  font-weight: 700;
}

.btns_block {
  display: flex;
  padding-top: 40px;
}
.btn1 button {
  width: 200px;
  height: 50px;
  background-color: #e61771;
  border: 2px solid #e61771;
  color: white;
  padding: 8px 0px;
}
.btn2 button {
  width: 200px;
  height: 50px;
  background-color: white;
  border: 2px solid #e61771;
  color: black;
  padding: 8px 0px;
}
